@import "tailwindcss";

@layer components {
  .button-primary {
    @apply bg-indigo-600 from-indigo-600 to-indigo-400 text-white rounded-lg;
  }
  .button-primary:hover {
    @apply bg-red-600 transition duration-200 shadow-sm;
  }
}
@utility flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@utility flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}